html {
    background-image: url(concrete_wall_2.jpg);
}

body {
    background: white;
    margin: 1em auto;
    padding: 2em;
    max-width: 960px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .125);
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

.table {
    display: table;
    table-layout: fixed;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

#download {
    width: 30%;
    text-align: center;
    padding-right: 2em;
}

#description {
    width: 70%;
    text-align: justify;
}

#main-description {
    text-align: justify;
    font-size: 1.15em;
}

#features {
    width: 75%;
    vertical-align: top;
    font-size: 1.15em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-top: 1.5em;
}

h1 {
    text-align: center;
    font-size: 2.25em;
}

ul {
    margin: 0 auto 1em auto;
    text-align: center;
}

a {
    color: #3385ff;
    text-decoration: none;
}

code {
    font-family: 'Ubuntu Mono', monospace;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: #EEE;
}

.download-button {
    background: #2E8B57;
    box-shadow: 0 0 1px 5px #3CB371;
    padding: .75em 1em;

    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0px #006400;
    text-transform: uppercase;
    text-decoration: none;
}

#download .download-button {
    display: inline-block;
}

#version {
    font-size: 0.5em;
}

.figure {
    width: 100%;
    margin: 3em 0;
}

.figure img {
    width: 100%;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
}

.caption {
    font-size: 1.15em;
    text-align: center;
}

#screenshots div:first-child {
    margin-top: 2em;
}

#screenshots div:last-child {
    margin-bottom: 1em;
}

.note {
    font-size: 0.75em;
}
