/* Global */

html {
    background-image: url(concrete_wall_2.jpg);
}

#content {
    background: white;
    margin: 1em auto;
    padding: 32px;
    max-width: 1024px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .125);
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

.table {
    display: table;
    table-layout: fixed;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.download-button {
    background: #2E8B57;
    box-shadow: 0 0 1px 5px #3CB371;
    padding: .75em 1em;

    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0px #006400;
    text-transform: uppercase;
    text-decoration: none;

    display: inline-block;
}

.download-button a:hover {
    text-decoration: none;
}


/* Download */

#download {
    text-align: center;
    padding-right: 2em;
}

#version {
    font-size: 0.5em;
}

#description {
    text-align: justify;
}

#description a {
    color: #3385ff;
}

/* Features */

#features ul {
    list-style-type: circle;
    padding-left: 0;
}

#features li {
    list-style-position: inside;
}

#features sup {
    vertical-align: top;
    font-size: 0.75em;
}

/* Notes */

#notes {
    margin-top: 5em;
    margin-right: auto;
    text-align: justify;
    font-size: 0.85em;
}


/* Screenshots */

#slider1_container {
    padding-bottom: 24px;
    background: rgba(0,0,0,1);
}

.slider_caption {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 960px;
    height: 50px;
    color: White;
    background: rgba(0,0,0,0.66);
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

/* Global */

.text-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* To top */

.scroll_beg {
    display: inline;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1em;
    margin-bottom: 1em;
    text-decoration: none;
}

.scroll_beg i {
    font-size: 60px;
    color: #3385ff;
}

/* Text */

.text-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#description a,
.text-container a {
    color: #3385ff;
    text-decoration: none;
}

#description a:hover,
.text-container a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 2.25em;
}

h2 {
    text-align: center;
    margin-top: 1.75em;
}


code {
    font-family: 'Ubuntu Mono', monospace;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: #EEE;
}
