html {
	background-image: url(concrete_wall_2.png);
}

body {
	background: white;
	margin: 1em auto;
	padding: 2em;
	max-width: 960px;
	box-sizing: border-box;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .125);
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
}

.table {
	display: table;
	table-layout: fixed;
}

.cell {
	display: table-cell;
	vertical-align: middle;
}

#download {
	width: 30%;
	text-align: center;
	padding-right: 2em;
}

#description {
	width: 70%
	text-align: justify;
}

#main-description {
	text-align: justify;
	font-size: 1.4em;
}

#features .cell {
	width: 50%;
	vertical-align: top;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 2.25em;
	color: #111;
}

ul {
	margin: 0 auto 1em auto;
	text-align: justify;
}

a {
	color: #3385ff;
	text-decoration: none;
}

code {
	font-family: 'Inconsolata', monospace;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.download-button {
	background: #ff4733;
	box-shadow: 0 0 1px 5px #ff8c80;
	padding: .75em 1em;

	font-size: 1.5em;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 0px #e61600;
	text-transform: uppercase;
	text-decoration: none;
}

#download .download-button {
	display: inline-block;
}

#version {
	font-size: 0.5em;
}

#screenshots img {
	width: 100%;
	margin: 1em 0;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
}

#screenshots img:first-child {
	margin-top: 1.5em;
}

#screenshots img:last-child {
	margin-bottom: 0;
}

.warning {
	font-size: 0.6em;
}